@import "tailwindcss";

:root {
  --bg-olive: #8e9686;
  --paper: #fcfdfa;
  --accent-green: #909d89;
  --accent-pink: #dfafaa;
  --accent-beige: #f1ede5;
  --text-main: #4a4f46;
}

body {
  background-color: var(--bg-olive);
  font-family: 'Nunito', sans-serif;
  color: var(--text-main);
}

.font-handwriting {
  font-family: 'Caveat', cursive;
}

.blob-title {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-color: var(--accent-green);
}

.blob-focus {
  border-radius: 40px 10px 50px 20px/20px 40px 10px 50px;
  background-color: var(--accent-beige);
}

.blob-btn {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.paper-line {
  border-bottom: 2px solid #e8e9e4;
  background: transparent;
}

@keyframes drawIn {
  0% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0); }
}
.task-enter { animation: drawIn 0.3s ease-out forwards; }

.strike-through {
  position: relative;
}
.strike-through::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 2px;
  background-color: var(--text-main);
  transition: width 0.3s ease-out;
  border-radius: 2px;
}
.completed .strike-through::after {
  width: 100%;
}

.league-script-regular {
  font-family: "League Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px; 
}

.quote-brush-bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 95%; 
  margin: 0 auto;
  min-height: 8px; 
  padding: 15px 30px;
  background-color: #f1e8dc;
  
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cfilter id='fat-brush'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.08 0.3' numOctaves='8' seed='22'/%3E%3CfeDisplacementMap in='SourceGraphic' scale='15'/%3E%3C/filter%3E%3Crect x='5' y='5' width='90' height='90' filter='url(%23fat-brush)'/%3E%3C/svg%3E");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  
  /* Safari támogatás */
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cfilter id='fat-brush'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.08 0.3' numOctaves='8' seed='22'/%3E%3CfeDisplacementMap in='SourceGraphic' scale='15'/%3E%3C/filter%3E%3Crect x='5' y='5' width='90' height='90' filter='url(%23fat-brush)'/%3E%3C/svg%3E");
  -webkit-mask-size: 100% 100%;
}
@media (min-width: 768px) {
  .quote-brush-bg {
    max-width: 700px; 
    min-height: 120px;
    padding: 30px 60px;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d8d3c9;
  border-radius: 10px;
}